html {
    background: url(Images/Background.svg);
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #643027;
}
div{
  background: url(Images/euro.svg);
  background-repeat: no-repeat;
  width: 100%;
  height: 5vh;
}
